<html>
 <head>
  <title>Slack Ruby Bot Server</title>
  <script src="/scripts/jquery-1.7.1.min.js"></script>
  <script src="/scripts/url.min.js"></script>
  <script src="/scripts/messages.js"></script>
  <script src="/scripts/register.js"></script>
  <script src="/scripts/stats.js"></script>
</head>
 <body style="text-align: center">
  <p>
    <img src='img/slack.png' width="120px">
  </p>
  <p>
    <h3>An opinionated boilerplate for a Slack bot service.</h3>
  </p>
  <p id='messages' />
  <p id='register'>
    <a href="<%= SlackRubyBotServer::Config.oauth_authorize_url %>?scope=<%= SlackRubyBotServer::Config.oauth_scope_s %>&client_id=<%= ENV['SLACK_CLIENT_ID'] %>"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"></a>
  </p>
  <p id='active_teams_count'>&nbsp;</p>
  <p>
    <small>
      made by <a href="https://twitter.com/dblockdotorg" target="_blank">@dblockdotorg</a>, <a href="https://github.com/slack-ruby/slack-ruby-bot-server" target="_blank">fork me on github</a>
    </small>
  </p>
 </body>
</html>

